*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #ccc;
   }
nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.9);
}
nav a{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color:white;
}
.cards{
    display: flex;
    flex-flow:row nowrap;
    align-content: center;
    justify-content: center;
}
.card-1,.card-2,.card-3{
    flex-grow: 1;
    height: 750px;
    color:white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; 
    align-items: center;
    padding:30px 15px;
}
.card-1{
    background-image: url('../Yo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.card-2{
    background-image: url('https://images.pexels.com/photos/1769553/pexels-photo-1769553.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
}
.card-3{
    background-image: url('../WhatsApp\ Image\ 2022-06-12\ at\ 7.55.28\ AM\ \(1\).jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display:flex;
    flex-flow:row nowrap;
    align-content: center;
    justify-content: center;
    
}
li{
    color:black;
}